<div class="container-fluid">
  <div class="row">
    <div class="col-6 ">
      <h2>Connect with friends and the world around you on Facebook</h2>
      <div class="infos">
        <img class="img" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.2365-6/32964924_188362901982436_5189181917978689536_n.png?_nc_cat=1&amp;oh=fa755c1841da8e7c918446657f677339&amp;oe=5BBC9CA3" width="56" height="56" alt="" style="vertical-align: middle"><b> See photos and updates</b> <span class="sub-info">from friends in News Feed.</span><br><br>
      </div>
      <div class="infos">
        <img class="img" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.2365-6/32967637_1400301410075884_2994305350271762432_n.png?_nc_cat=1&amp;oh=f21d9bf8b067eba0d61bcf3ff1a7a1d7&amp;oe=5BBF89B0" width="56" height="56" alt="" style="vertical-align: middle"><b> Share what's new </b> <span class="sub-info">in your life on your TimeLine.</span><br><br>
      </div>
      <div class="infos">
        <img class="img" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.2365-6/33137320_1687624661315903_5362007326045765632_n.png?_nc_cat=1&amp;oh=283c4d474e6b4e3bbf3c0f907d1d3f32&amp;oe=5BB09405" width="56" height="56" alt="" style="vertical-align: middle"><b> Find More</b> <span class="sub-info">of whay you're looking for for with Facebook Search.</span><br><br>
      </div>
    </div>
    <div class="col-6">
      <h2 id="sign-up">Sign Up</h2>
      <p id="free-signup">It's free and always will be.</p>


      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <br>
            <input #firstName id="credential" type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input #lastName id="credential" type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">

            <input #email id="credential" type="text" class="form-control" placeholder="Email" aria-label="Mobile number or email" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input #password1 id="credential" type="text" class="form-control" placeholder="New password" aria-label="New Password" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">

        <div class="col-6">
          <div class="form-group">
            <label id="bday-signup" for="bday">Birthday</label>
            <input id="b-day" type="date" #birthDate class="form-control">
            <span ><a href="#" >Why do I need to provide my birthday? </a></span>
          </div>
        </div>
        <div class="col-6" id="bday">
          <div class="form-group">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
              <label id="gender" class="radio-inline">
                <input  #gender type="radio" name="optradio" value="femaile"> Female
              </label>
              <label id="gender" class="radio-inline">
                <input #gender type="radio" name="optradio" value="male"> Male
              </label>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <p id="consent" class="_58mv">By clicking Sign Up, you agree to our <a href="/legal/terms/update" id="terms-link" target="_blank" rel="nofollow">Terms</a>, <a href="/about/privacy/update" id="privacy-link" target="_blank" rel="nofollow">Data Policy</a> and <a href="/policies/cookies/" id="cookie-use-link" target="_blank" rel="nofollow">Cookies Policy</a>. You may receive SMS Notifications from us and can opt out any time.</p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <button (click)="submitForm(firstName.value, lastName.value, email.value, password1.value, birthDate.value, gender.value); firstName.value=''; lastName.value=''; email.value=''; password1.value=''; birthDate.value=''" id="signup" type="button" name="button">Sign Up</button>
            <!-- <button (click)="Test()" id="signup" type="button" name="button">Sign Up</button> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <hr class="my-4">
            <div id="reg_pages_msg" class="_58mk"><a href="/pages/create/?ref_type=registration_form">Create a Page</a> for a celebrity, band or business.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
