#profile {
  margin-left: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

input#comment {
  height: 200px;
  width: 1000px;
  border: 2px solid black;
  padding-left: 50%;
  font-size: 30px;
  padding-left: 20px;

}
