#inputText {
  width: 500px;

  height: 100%;
  position: relative;
  top: 0px;
  padding-left: 10px;
  font-size: 14px;
  border: 0px;
}
nav#user-nav {
  border: 2px solid black;
  width: 100%;
}

.search-icon {
  background-color: #f6f7f9;
  height: 100%;
  width: 50px;
  text-align: center;
  float: right;

}

.search-icon img {
  height: 15px;
  width:15px;
  margin: 10% 0;
}
.facebook_logo {
  height: 30px;
  width:30px;
  padding-right: 5px;
  margin-left: 25%;
}
nav {
    background-color: #3b5998;
}
li#messenger {
  margin-top: 12px;
  margin-left: 2px;
}

li#earth {
  margin-top: 12px;
  margin-left: 10px;
}
a {
  color: black;
  font-size: 15px;
  margin-top: 10px;
}
footer {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 11px;
  padding-top: 14px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
  display: block;
  font-size: 12px;
  margin-left: 10%;
}
#side_bar {
  padding-top: 20px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #f8f9fa;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font-family: "pp-sans-small-regular",Helvetica Neue,Arial,sans-serif;
  font-weight: normal;
  font-variant: normal;
  margin-left: 15px;
  margin-top: 75px;

}
#profile {
  margin-left: 100px;
  padding-left: 10%;
  padding-right: 10%;
}
#info-navbar {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;

}

input#comment {
  height: 200px;
  width: 1000px;
  border: 2px solid black;
  padding-left: 50%;
  font-size: 30px;
  padding-left: 20px;

}
